In [ ]:
import turtle
turtle.setup(500, 500)
turtle.showturtle()
turtle.forward(50)
turtle.circle(50)
turtle.penup
turtle.circle(100)
turtle.backward(100)
turtle.forward(75)

In [ ]:
a=3
b=2
c=1

def my_function(a, b, c):
    print(a, b, c)

In [ ]:
def main():
    x = 1
    y = 3.4
    print(x,y)
    change_us(x,y)
    print(x,y)

def change_us(a,b):
    a = 0
    b = 0
    print(a,b)

main()

In [ ]:
enter a distance in kilometers:100

In [ ]:
# I will create a global constant and assign it the value 0.6214

conversion = 0.6214

# I will create a main function to prompt the user to enter the distance in kilometers.

def main():
    kilometers = float(input('Enter a distance in kilometers: '))

def show_miles(km):
    miles = km*conversion
    print(km, 'kilometers equals', miles, 'miles')

In [ ]:
# I will create a global constant and assign it the value 0.6214

conversion = 0.6214

# I will create a main function to prompt the user to enter the distance in kilometers.

def main():
    kilometers = float(input('Enter a distance in kilometers: '))

def show_miles(km):
    miles = km*conversion
    print(km, 'kilometers equals', miles, 'miles')

In [ ]:
def main():
    kilometers = float(input('Enter a distance in kilometers: '))

In [ ]:
kilometer = 10

print(kilometer)

In [ ]:
kilometers = 15

conversion = 0.6214

miles = kilometers*0.6214

miles = float(input('Enter a distance in kilometers: '))

miles = kilometers * conversion

print(km, 'kilometers equals', miles, 'miles')

In [ ]:
customer_file = open('customers.txt', 'r')

In [ ]:
customer_file('Charles Pace' 'w')

In [ ]:
def main():
    outfile = open('Philosphers.txt,' 'w')
    outfile.write('John Locke\n')
    outfile.write('David Hume\n')
    outfile.write('Edmund Burke\n')

In [ ]:
def main():
    outfile = open('Philosphers.txt,' 'w')

In [ ]:
print('Hello World')

In [ ]:
def main():
    intro()
    cups_needed = int(input('Enter the number of cups: '))
    cups_to_ounces(cups_needed)
    
def intro():
    print('This program converts measurements')
    print('in cups to fluid ocunces. For your')
    print('reference the formula is:')
    print('1 cup = 8 fluid ounces')
    print()

In [ ]:
def main():
    intro()
    cups_needed = int(input('Enter the number of cups: '))

In [ ]:
kmvalue = float(input('Enter the distance in kilometers: '))

mvalue = kmvalue*0.621371

print("%.2f kilometer = %.2f miles" %(kmvalue))

In [ ]:
kilometers = float(input('Enter the distance in kilometers: '))
miles = kilometers * 0.6214
print('Miles = 62.14')
print(kilometers * 0.6214)

In [ ]:
if sales>=50000.0:
    sales_quota_met = true
else:
    sales_quota_met = false
    print('')

In [ ]:
num = 8
is_prime = int(input('Enter a number: '))
if is_prime

In [ ]:
x=1
y=0
x>y

In [ ]:
is_prime = int(input('Enter a number: '))
if is_prime>1:
        print('True')

In [ ]:
Class_A = 20.0
int(input('Enter number of seats sold for Class A '))
Class_A*20

Class_B =15.0
int(input('Enter number of seats sold for Class B '))
Class_B*25

Class_C = 10
int(input('Enter number of seats sold for Class C '))
Class_C*30

In [ ]:
number = 1

while(number<=100):
    count = 0
    i = 2
    while(i <= Number//2):
        if(Number % i == 0):
            count = count + 1
            break
        i = i + 1
        
        if (count == 0 and Number != 1):
            print(" %d" %Number, end = '  ')
        Number = Number  + 1

In [ ]:
for num in range(5):
    print(num)

In [ ]:
for num in range(101):
    print(num)

In [ ]:
def main():
    number = int(input('Enter a whole number '))
    prime = is_prime(number)
    if prime == True:
        print('This is a prime number')
    else:
        print('This is not a prime number')
        
# I will write a program for is_prime

def is_prime(number):
    result = True
    for i in range(2, number):
        if(number % i) == 0:
                result = False
    return result
main()

In [2]:
for number in range(1, 11): 
    square = number**2 
    print(f'{number}\t{square}')

SyntaxError: invalid non-printable character U+00A0 (2691808254.py, line 1)

In [3]:
for is_prime in(2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97):
    print(is_prime)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [7]:
import random

def main():
    number = random.randint(1,10)
    print(f'The number is {number}:')
main()

The number is 7:

In [8]:
print(random.randint(1,10))

10

In [16]:
import random
Min = 1
Max = 6

def main():
    again = 'y'
while again == 'y' or again = Y':
    
    print('Rolling the dice...')
    print('There values are: ')
    print(random.randint(MIN, MAX)) 
    print(random.randint(MIN, MAX))
    
    again = input('Roll them again? (y = yes): ')

main()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 12)

In [20]:
import random

HEADS=1
TAILS=2
TOSSES=10

def main():
    for toss in range(TOSSES):
        if random.randint(HEADS, TAILS)==HEADS:
            print('HEADS')
        else:
                print('TAILS')
                
main()

HEADS
TAILS
TAILS
HEADS
HEADS
HEADS
HEADS
TAILS
TAILS
TAILS

In [41]:
loan=300.0
insurance=150.0
gas=75.0
oil=99.0
tires=900.0
maintenance=200.0

def main():
    float(input('Enter the amount of the loan '))
    float(input('Enter the amount of the insurance '))
    float(input('Enter the amount of gas '))
    float(input('Enter the amount of oil '))
    float(input('Enter the amount of tires '))
    float(input('Enter the amount of maintenance '))
    
    monthly = 1724.0
    
    print('The total monthly expense is', loan + insurance + gas + oil + tires + maintenance)
    print('The total yearly expense is', monthly*12)
    


main()

Enter the amount of the loan 300.0
Enter the amount of the insurance 150.0
Enter the amount of gas 75.0
Enter the amount of oil 99.0
Enter the amount of tires 900.0
Enter the amount of maintenance 200.0
The total monthly expense is 1724.0
The total yearly expense is 20688.0