In [ ]:
print('Intro to Computer Science')
print('Calc I')
print('Public Speaking')

In [ ]:
print("""I'm reading "Hamlet" tonight""")

In [ ]:
print("""One
two
three""")

In [ ]:
width = 10
length = 5
print(width)
print(length)

In [ ]:
room = 503
print('I am staying in room')
print (room)

In [ ]:
room =503
print('I am staying in "room"')

In [ ]:
top_speed = 160
distance = 300
print('the top_speed is')
print(top_speed)
print('the distance traveled is')
print(distance)

In [ ]:
x, y, z = 0, 1, 2
print(x,y,z)

In [ ]:
name, id = 'Trinidad', 847
print(name, id)

In [ ]:
room=503
print('I am staying in room number', room)

In [ ]:
dollars=2.75
print('I have', dollars, 'in my account.')
dollars=99.95
print('But now I have', dollars, 'in my account')

In [ ]:
type(1)

In [ ]:
type(2)

In [ ]:
first_name= ('Kathryn')
last_name= ('Marino')
print(first_name, last_name)

In [ ]:
x=99
print(x)
x=('Take me to your leader')
print(x)

In [ ]:
name = input('What is your name? ')
name

In [ ]:
name

In [ ]:
phone= input('What is your phone number? ')

In [ ]:
phone

In [ ]:
x=input('Enter a number. ')

In [ ]:
x

In [ ]:
num=int(input('Enter a number. '))

In [ ]:
num

In [ ]:
temperature=float(input('What is the temperature? '))

In [ ]:
temperature

In [ ]:
first_name=input('Enter your first name: ')
last_name=input('Enter your last name: ')

In [ ]:
print('My name is', first_name, last_name)

In [ ]:
string_value=input('How many hours did you work? ')
hours=int(string_value)
hours

In [ ]:
hours=int(input('How many hours did you work? '))
hours

In [ ]:
pay_rate=float(input('Enter your hourly pay rate '))

In [ ]:
pay_rate

In [ ]:
name = input('What is your name? ')
age = int(input('How old are you? '))
income = float(input('What is your income? '))

print('Here is the data you entered:')
print('name:', name)
print('age:', age)
print('income', income)

In [ ]:
salary=2500.0
bonus=1200.0
pay=salary+bonus
print('Your pay is', pay,)

In [ ]:
original_price = float(input("Enter the item's original price:"))

discount = original_price * 0.2

sales_price = original_price - discount
print('The sales price is', sales_price)

5/2

In [ ]:
5/2

In [ ]:
5//2

In [ ]:
-5//2

In [ ]:
outcome=12.0+6.0/3.0

In [ ]:
5**2

In [ ]:
9%2

In [ ]:
total_seconds=float(input('Enter number of seconds: '))

In [ ]:
fvalue=-2.9
ivalue=int(fvalue)

In [ ]:
result=var1*2+var2*3+\
var3*4+var4*5

In [ ]:
message = ('Hello ' + 'World')
print(message)

In [ ]:
first_name=input('Enter your first name ')
last_name=input('Enter your last name ')
full_name=first_name+ ' ' + last_name
print('Your full name is ' + full_name )

In [ ]:
print('one', end=' ')
print('two', end=' ')
print('three')

In [ ]:
print('One', 'Two', 'Three')

In [ ]:
print('one\ntow\nthree')

In [ ]:
print('Mon\tTues\tWed')

In [ ]:
print("Your assignment is to read \"Hamlett\" by tomorrow")

In [ ]:
print('Hello World')

In [ ]:
print(f'hello world')

In [ ]:
name = 'johnny'
print(f'hello {name}.')

In [ ]:
name = 'johnny'
print(f'hello {name}.')

In [ ]:
print(f'The value is{10+2}.')

In [ ]:
new = good
print(f'God is {new}' )

In [ ]:
amount_due = 5000.0
monthly_payment =  amount_due/12.0
print(f'the monthly payment is {monthly_payment:.2f}.')

In [ ]:
number = 123456890.1234
print(f'{number:,}')

In [ ]:
discount = 0.5
print(f'{discount:.0%}')

In [ ]:
number = 12345.6789
print(f'{number:e}')

In [ ]:
number = 12345.67890
print(f'The number is {number:,.2f}')

In [ ]:
print(f'{number:^10,.2f}')

In [ ]:
print(f'{number:10^,.2f}')

In [ ]:
Name ='Abby Lloyd'
Name ='George Flyod'
Name ='Trina Jones'
print(f'Employee name: {name}, ' + 
      f'{name}, ' + 
      f'{name})

In [4]:
import turtle
turtle.showturtle()
turtle.forward(200)
turtle.left(45)
turtle.right(75)
turtle.forward(45)

In [6]:
import turtle
turtle.showturtle()
turtle.forward(100)
turtle.right(45)
turtle.forward(75)
turtle.setheading(45)

In [5]:
import turtle
turtle.showturtle()
turtle.forward(50)
turtle.setheading(90)
turtle.forward(100)
turtle.setheading(90)

In [24]:
import turtle
turtle.showturtle()
turtle.setup(640,480)
turtle.circle(100)
turtle.setheading(270)
turtle.forward(100)
turtle.left(45)
turtle.goto(0, 100)
turtle.goto(10, -10)
turtle.speed(0)
turtle.circle
turtle.clear()
turtle.reset()
turtle.speed(1)
turtle.circle(100)
turtle.speed()
turtle.write('Hello World')
turtle.reset()
turtle.setup(300, 300)

In [26]:
import turtle
turtle.showturtle()
turtle.setup(300, 300)
turtle.penup()

In [2]:
import turtle 
turtle.hideturtle() 
turtle.fillcolor('blue') 
turtle.begin_fill() 
turtle.forward(100) 
turtle.left(90) 
turtle.forward(100) 
turtle.left(90) 
turtle.forward(100) 
turtle.left(90) 
turtle.forward(100) 
turtle.end_fill()

SyntaxError: invalid non-printable character U+00A0 (4067804182.py, line 1)

In [4]:
import turtle
turtle.showturtle()
turtle.numinput