In [1]:
numbers = list(range(5))

print(numbers)

[0, 1, 2, 3, 4]

In [2]:
numbers = [0]*5
print(numbers)

[0, 0, 0, 0, 0]

In [3]:
numbers = [1,2,3,4]
for num in numbers:
    print(num)

1
2
3
4

In [4]:
numbers = [1,2,3,4]
for num in numbers:
    num = 99
print(numbers)

[1, 2, 3, 4]

In [5]:
my_list = [10, 20, 30, 40]
print(my_list[0], my_list[1], my_list[2], my_list[3])

10 20 30 40

In [6]:
my_list = [10, 20, 30]

index = 0

while index < 3:
    
    print(my_list[index])
    
    index += 1

10
20
30

In [7]:
my_list = [10, 20, 30, 40]
size = len (my_list)
print(size)

4

In [8]:
my_list = [10, 20, 30, 40]

index = 0

while index < len(my_list):
    print(my_list[index])
    index += 1

10
20
30
40

In [9]:
numbers = [1,2,3,4,5]
numbers[5] = 99
print(numbers)

IndexError: list assignment index out of range

In [ ]:
numbers = [0]*5
for index in range(len(numbers)):
    numbers[index] = 99
print(numbers)

In [ ]:
num_days = 5

def main():
    sales = [0] * num_days
    
    print('Enter the sales for each day.')
    
    for index in range(len(sales)):
        
        sales[index] = float(input(f'Day #{index + 1}: '))
    
    print('Here are the values you entered:')
    
    for value in sales:
        
        print(value)
        
if __name__== '__main__':
    
    main()

In [ ]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list3 = list1 + list2
print(list3)

In [13]:
names = ['Jessica', 'Robert', 'Ruby', 'John']
for index in range(len(names)):
    print(names(index))

TypeError: 'list' object is not callable

In [22]:
names = ['Jen,' 'Barb,' 'Ruby,' 'Jason']

if Ruby == names:

    Ruby = names
    print(Hello, Ruby)

print(names)

NameError: name 'Ruby' is not defined

In [10]:
my_list = [10, 20, 30, 40]
print(my_list)

[10, 20, 30, 40]

In [24]:
list1=[1,2,3,4]
list2=list1
print(list1)
print(list2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [26]:
numbers1 =range(1, 100)
numbers2=numbers1
print(numbers1)
print(numbers2)

range(1, 100)
range(1, 100)

In [28]:
numbers = list(range(1, 10, 2))
print(numbers)

TypeError: 'str' object is not callable

In [38]:
def main():
    
    numbers = [2,4,6,8,10]
    
    total = 0
    
    for value in numbers:
        
        total += value
        
        print(f'The total of the elements is {total}. ')

if __name__=='__main__':
    
        main()

The total of the elements is 2.
The total of the elements is 6.
The total of the elements is 12.
The total of the elements is 20.
The total of the elements is 30.

In [47]:
def main():
    
    numbers = [5, 4, 3, 2, 1]
    
    total = 0
    
    for value in numbers:
        
        total += value
        
    print(f'The total of the elements is {total}.')
        
if __name__=='__main__':
    
        main()

The total of the elements is 15.